In [1]:
from oiflib.air.one.enrich import enrich_air_one
from oiflib.air.one.extract import extract_air_one
from oiflib.air.one.transform import transform_air_one
from oiflib.air.one.validate import validate_air_one_extracted, validate_air_one_transformed, validate_air_one_enriched

In [2]:
df_extracted = extract_air_one()
df_extracted.head()

,ShortPollName,NFRCode,SourceName,1990,1995,1998,1999,2000,2001,2002,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,CO,1A1a,Autogenerators,0.000000,0.000000,0.000861,0.000987,0.001225,0.001165,0.001197,...,0.072842,0.188518,0.380950,0.773427,1.108654,1.654888,2.648169,4.194255,4.936837,5.536873
1,CO,1A1a,Miscellaneous industrial/commercial combustion,0.372920,0.285545,0.104246,0.108912,0.118016,0.123270,0.126718,...,0.135080,0.127430,0.144871,0.148156,0.172320,0.125973,0.133799,0.127731,0.144326,0.136516
2,CO,1A1a,Power stations,91.485663,85.075695,48.035092,43.356297,52.875139,53.176906,52.253263,...,49.778303,54.550899,56.543332,67.445893,65.244769,55.655886,46.738127,30.714808,30.172769,38.881950
3,CO,1A1a,Public sector combustion,0.009175,0.015521,0.014372,0.014410,0.012844,0.013138,0.014227,...,0.013591,0.015413,0.017175,0.017028,0.018264,0.018127,0.019443,0.019173,0.022132,0.021411
4,CO,1A1b,Refineries - combustion,4.455526,4.998781,5.248910,4.862012,3.785558,2.391528,2.788338,...,4.460696,3.287260,2.801700,3.162767,3.266939,4.154463,5.523977,4.606405,4.050079,3.934826

In [3]:
df_extracted_validated = validate_air_one_extracted(df_extracted)
df_extracted_validated.head()

,ShortPollName,NFRCode,SourceName,1990,1995,1998,1999,2000,2001,2002,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,CO,1A1a,Autogenerators,0.000000,0.000000,0.000861,0.000987,0.001225,0.001165,0.001197,...,0.072842,0.188518,0.380950,0.773427,1.108654,1.654888,2.648169,4.194255,4.936837,5.536873
1,CO,1A1a,Miscellaneous industrial/commercial combustion,0.372920,0.285545,0.104246,0.108912,0.118016,0.123270,0.126718,...,0.135080,0.127430,0.144871,0.148156,0.172320,0.125973,0.133799,0.127731,0.144326,0.136516
2,CO,1A1a,Power stations,91.485663,85.075695,48.035092,43.356297,52.875139,53.176906,52.253263,...,49.778303,54.550899,56.543332,67.445893,65.244769,55.655886,46.738127,30.714808,30.172769,38.881950
3,CO,1A1a,Public sector combustion,0.009175,0.015521,0.014372,0.014410,0.012844,0.013138,0.014227,...,0.013591,0.015413,0.017175,0.017028,0.018264,0.018127,0.019443,0.019173,0.022132,0.021411
4,CO,1A1b,Refineries - combustion,4.455526,4.998781,5.248910,4.862012,3.785558,2.391528,2.788338,...,4.460696,3.287260,2.801700,3.162767,3.266939,4.154463,5.523977,4.606405,4.050079,3.934826

In [4]:
df_transformed = transform_air_one(df_extracted_validated)
df_transformed.head()

  ShortPollName  Year    Emissions
0           NOx  1990  2397.847344
1         PM2.5  1990   174.144903
2           SO2  1990  3134.835121
3         NMVOC  1990  2109.138181
4           NH3  1990   232.760876

In [5]:
df_transformed_validated = validate_air_one_transformed(df_transformed)
df_transformed_validated.head()

  ShortPollName  Year    Emissions
0           NOx  1990  2397.847344
1         PM2.5  1990   174.144903
2           SO2  1990  3134.835121
3         NMVOC  1990  2109.138181
4           NH3  1990   232.760876

In [6]:
df_enriched = enrich_air_one(df_transformed_validated)
df_enriched.head()

  ShortPollName  Year    Emissions  Index
0           NOx  1990  2397.847344  100.0
1         PM2.5  1990   174.144903  100.0
2           SO2  1990  3134.835121  100.0
3         NMVOC  1990  2109.138181  100.0
4           NH3  1990   232.760876  100.0

In [7]:
df_enriched_validated = validate_air_one_enriched(df_enriched)
df_enriched_validated.head()

  ShortPollName  Year    Emissions  Index
0           NOx  1990  2397.847344  100.0
1         PM2.5  1990   174.144903  100.0
2           SO2  1990  3134.835121  100.0
3         NMVOC  1990  2109.138181  100.0
4           NH3  1990   232.760876  100.0